*
!avatars/
!csv/
!logos
!proof_payments/
!thumbs/
!.gitignore
!index.html
!no_image.jpg
!no_image.png
!payment_receipt/
!bank_logo/
!promotion/
!cms/
!no_point.png
!smile.png
!smile_red.png
!bg_card.png