<h3>{site_name}</h3><h4>Login Details</h4><p>
    Hello {client_name},</p><p>We have created new account for you to manage your quotations and orders from our
    website. </p><p>Your credentials are:</p>
<pre>Site Link: {site_link}
Username: {email}
Password: {password}
</pre><p>
    <a href="{client_link}">Click me</a> to activate your account</p><p><br>
    Best regards,
    <br>
    {site_name}
	<br><br>
	You can paste this code below in your url if the above link not working
	<br>
	{client_link}
	</p>